#logo2{
    width:500px;
    height:80px;
    /* margin-top:-15px;  */
  }
  #logo1{
    width:80px;
    height:80px;
    margin-right: 15px;
  }
  #center{
    background-color: white;
    border-radius: 30px;
    padding: 30px 30px 30px 30px;
    opacity: 0.9;
    /* padding-left: 30px; */
  }
  #profilePic{
    border-radius:50%;
    width:250px;
    height:250px;
  }
  .hidden {
    /* display:none; */
    margin-top:30px;
  }
  .repoColumn{
    border-radius: 20px;
    padding:20px 20px 20px 20px;
    background-color: white;
    margin-right: 90px;
    margin-bottom: 30px;
  }
  